# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Dependencies
node_modules

# Lockfiles
bun.lockb
bun.lock
package-lock.json

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
.vercel
